<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleVersion</key>
	<string>10204</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Sato needs screen recording access to see your screen and help you.</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://sato.host/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>dHJCS/+Dids6ag5BzdcTd0pbueo/KN/Jf8Xe//cHMdg=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
